In [49]:
import math
import pandas as pd

In [45]:
data_news_headlines = pd.read_json("./data/x1.json")

# Adjust news headline data
data_news_headlines = data_news_headlines.drop(columns='article_link', axis=1)
data_news_headlines = data_news_headlines.rename(columns ={'headline':'text', 'is_sarcastic':'label'})
data_news_headlines = data_news_headlines.reindex(columns=['text','label'])
data_news_headlines.head()

                                                text  label
0  thirtysomething scientists unveil doomsday clo...      1
1  dem rep. totally nails why congress is falling...      0
2  eat your veggies: 9 deliciously different recipes      0
3  inclement weather prevents liar from getting t...      1
4  mother comes pretty close to using word 'strea...      1

In [46]:
data_tweets = pd.read_csv("./data/dataset_csv.csv")

# Adjust tweets data
data_tweets = data_tweets.rename(columns={'tweets':'text'})
data_tweets.head()

                                                text  label
0                    I love working midnights tweet       1
1  I hate when I buy a bag of air and there's chi...      1
2  my grandad always sounds so ill when i speak t...      0
3  I realize I'm annoying to everyone, so I won't...      0
4  I love when I find these dudes on vine!! #Foll...      1

In [54]:
data_sitcoms = pd.read_csv("./data/mustard++_text.csv")

# Adjust sitcom data
data_sitcoms = data_sitcoms.drop(columns=['SCENE','KEY','END_TIME','SPEAKER','SHOW','Sarcasm_Type','Implicit_Emotion','Explicit_Emotion','Valence','Arousal'], axis=1)
data_sitcoms = data_sitcoms.rename(columns={'SENTENCE':'text','Sarcasm':'label'})

# remove empty label rows
for index, row in data_sitcoms.iterrows():
    if math.isnan(row['label']):
        data_sitcoms = data_sitcoms.drop(index, axis='index')

data_sitcoms.head()

                                                 text  label
5   And of those few months, how long have you bee...    0.0
14  Let the dead man talk. So, why do you think that?    0.0
18     What else? Sell it on eBay as "slightly used."    0.0
24  Good idea, sit with her. Hold her, comfort her...    1.0
31  Well, now that I've given up string theory, I'...    0.0

In [55]:
data_reddit = pd.read_csv("./data/train-balanced-sarcasm.csv")

# Adjust reddit data
data_reddit = data_reddit.drop(columns=['author','subreddit','score','ups','downs','date','created_utc','parent_comment'], axis=1)
data_reddit = data_reddit.rename(columns={'comment':'text'})
data_reddit = data_reddit.reindex(columns=['text','label'])

data_reddit.head()

                                                text  label
0                                         NC and NH.      0
1  You do know west teams play against west teams...      0
2  They were underdogs earlier today, but since G...      0
3  This meme isn't funny none of the "new york ni...      0
4                    I could use one of those tools.      0

In [60]:
# Combine all 4 datasets
data = pd.concat([data_news_headlines,data_tweets,data_sitcoms,data_reddit], ignore_index=True)

# Shuffle the rows
data = data.sample(frac=1).reset_index(drop=True)

data.head()

                                                text  label
0  step inside salvador dali's surreal paintings ...    0.0
1  if only 12 didnt have the bullshit of having y...    0.0
2                          Or just being an asshole.    0.0
3  I promise that if you donate your time to a ki...    0.0
4  Because Germany, France and Italy are in such ...    1.0